body {
  background: #ecf0f1;
}

*, p, a {
  color: #34495e;
  text-shadow:0px 2px 3px #fff;
}

h1 {
  color: #34495e;
  font-weight: bold;
  font-size: 4em;
}

section {
  border-left: 30px solid #c0392b;
  padding-left: 2em;
  width: 600px;
}

h3 {
  margin-top: 2em;
}

p {
  margin-left: 2em;
}

.example {
  display: block;
  margin: 0.5em 0;
  font-weight: bold;
  color: #3498db;
}

.example::before {
  content: "Output: ";
  color: #c0392b;
}

.theAwesomeClass {
  display: block;
  text-shadow: none;
  text-align: center;
}

.theAwesomeClass p {
  text-shadow: none;
  color: inherit;
  margin: inherit;
}