@import url('./fonts/Open_Sans/OpenSans-Light.ttf');
* {
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  max-width: 1200px;
  border-left: 30px solid #333;
  padding-left: 1em;
}

.container>section {
  padding: 20px 40px;
}

h1 {
  width: 100%;
  font-size: 3em;
  color: #333;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #333;
}